@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
.header {
  position: sticky;
  font-family: vollkon;
  height: rem(90px);
  padding-left: 80px;
  padding-right: 80px;


  @mixin light {
    background: #ffffff;
  }

  @mixin dark {
    background-color: #1a1b1e;
  }
}


.fixedHeader {
  position: fixed;
  width: 100%;
  font-family: vollkon;
  max-height: 5rem;
  height: rem(90px);
  z-index: 4;
  animation: smoothScroll 1s forwards;
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  padding-left: 80px;
  padding-right: 80px;

  @mixin light {
    background: #ffffff;
  }

  @mixin dark {
    background-color: #1a1b1e;
  }
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 28px 20px;
  text-decoration: none;
  color: (#333333, var(--mantine-color-white));
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(42px);
    width: 100%;
  }

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}
.link:active {
  color: #deb666;
}
.link:hover {
  color: #deb666;
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: 0;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-7)
    );
  }
}

.dropdownFooter {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-7)
  );
  margin: calc(var(--mantine-spacing-md) * -1);
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}

.button {
  display: flex;
  align-items: center;
  background: #deb666;
  border-color: #deb666;
  color: #fff;
  letter-spacing: 0.5px;
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 4px;
  padding: 8px 18px;
  transition: 0.5s !important;
  border: 1px solid var(--color-primary);
  box-shadow: none;
  outline: none;
  text-transform: none;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 20px;
}

